spring:
  application.name: splearn
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
logging:
  level:
    org.hibernate: DEBUG
    org.springframework.orm.jpa: DEBUG
    org.springframework.boot.autoconfigure.orm.jpa: DEBUG